<h2 class="NewUsers-title">Edit <%= resource_name.to_s.humanize %></h2>
<section class="UsersNew">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-section">
      <%= f.label :email, class:"FormInput-label" %><br />
      <%= f.email_field :email,class:"Form-Input", autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-section">
      <%= f.label :password , class:"FormInput-label"%> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password,class:"Form-Input", autocomplete: "new-password" , placeholder: "6 characters minimum" %>
    </div>

    <div class="fieldm form-section">
      <%= f.label :password_confirmation, class:"FormInput-label" %><br />
      <%= f.password_field :password_confirmation, class:"Form-Input",autocomplete: "new-password" %>
    </div>

    <div class="field form-section">
      <%= f.label :current_password, class:"FormInput-label" %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, class:"Form-Input",autocomplete: "current-password" %>
    </div>

    <div class="actions form-section">
      <%= f.submit "Update" ,  class:"Form-submit" %>
    </div>
  <% end %>

  <p class="FormInput-label">Cancel my account</p>

  <p  class="FormInput-label">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),  class:"Form-submit" , data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</section>
