<div class="menu-items-section container-fluid">
    <h1> Menu Items of <%= @category_name%></h1>
    <div class="row">
        <div class="col-md-7 MenuCategories-Display">
            <% @menu = MenuItem.select { |menu_item| menu_item.category_id== @category_id } %>
            <%= render "menu_items/menu-section" , locals: { menu: @menu} %>
        </div>
        <div class="col-md-4 MenuItems-Form">
            <% if current_user.superadmin_role? %>
                <%= form_with(url:"/menu_items" , method:"post") do %>
                    <%= text_field_tag("menu_item_name","",class:'AddMenuCategory-text',placeholder: "what's new?") %>
                    <%= text_field_tag("menu_item_price","",class:'AddMenuCategory-text',placeholder: "Rs.") %>
                    <%= hidden_field_tag 'category_id',@category_id %>
                    <input class="AddMenuCategory-button" type="submit" value="Add">
                <% end %>
            <% end %>
        </div>
    </div>   
</div> 