<div class="menu-items-section container-fluid">
    <h1> Menu Items of <%= @category_name%></h1>
    <div class="row">
        <div class="col-md-7 MenuCategories-Display">
            <% @menu = MenuItem.select { |menu_item| menu_item.category_id== @category_id } %>
            <table class="CategoryItem">
                <tr>
                    <th>Menu</th>
                    <th>Price</th>
                    <% if current_user.superadmin_role? %>
                        <th>  </th>
                    <%else%>
                        <th>Quantity</th>
                    <% end %>
                    <th>     </th>
                </tr>
                <% @menu.each do |menu_item| %>   
                    <% if menu_item.deactivate == true && current_user.superadmin_role==false %> 
                        <% next %>
                    <% end %>
                        <tr>
                            <td> <%= menu_item.item_name %> </td>
                            <td> <%= menu_item.item_price%> </td>
                            <td> 
                                <% if current_user.superadmin_role? %>
                                    <%= form_with(url:"/menu_items/menu_item.id", method: "put") do %>
                                        <%= hidden_field_tag 'menu_item_id' , menu_item.id %>
                                        <input class="AddMenuCategory-button" type="submit" value="<%= menu_item.deactivate==false ? 'Deactivate' : 'Activate' %>">
                                    <% end %>

                                    <% else %>

                                    <%= form_with(url:"/carts", method: "post") do %>
                                        <%= text_field_tag("menu_item_quantity","",class:'AddMenuItem-text',placeholder: "Qty") %>
                                        <%= hidden_field_tag 'menu_item_id' , menu_item.id %>
                                        <input class="AddMenuCategory-button" type="submit" value="Add">
                                    <% end %>
                                <%end%>                            
                            </td>
                            <td>
                                <% if current_user.superadmin_role? %>
                                    <%= form_with(url:"/menu_items/#{menu_item.id}",method:"delete") do %>
                                        <%= hidden_field_tag 'menu_item_id' , menu_item.id %>
                                        <input class="AddMenuCategory-button" type="submit" value="Delete">
                                    <% end %>
                                <% end %>
                            </td>
                        </tr>    
                <% end %>
            </table>
        </div>
        <div class="col-md-4 MenuItems-Form">
            <% if current_user.superadmin_role? %>
                <%= form_with(url:"/menu_items" , method:"post") do %>
                    <%= text_field_tag("menu_item_name","",class:'AddMenuCategory-text',placeholder: "what's new?") %>
                    <%= text_field_tag("menu_item_price","",class:'AddMenuCategory-text',placeholder: "Rs.") %>
                    <%= hidden_field_tag 'category_id',@category_id %>
                    <input class="AddMenuCategory-button" type="submit" value="Add">
                <% end %>
            <% end %>
        </div>
    </div>   
</div>