<h1> <%= role %> </h1>
    <div class="row">
        <div class="col-md-7 MenuCategories-Display">
            <table class="CategoryItem">
                <tr>
                    <th>User Id</th>
                    <th>Email</th>
                    <th>Joined Date</th>
                </tr>
                <% ids.each do |ids_id| %> 
                    <% @user = User.find(ids_id) %>   
                    <tr>
                        <td> <%= @user.id %> </td>
                        <td> <%= @user.email %> </td>
                        <td> <%= @user.created_at.strftime("%F") %> </td>
                    </tr>    
                <% end %>
            </table>      
        </div>
        <div class="col-md-3 MenuCategories-Display">
        <% if role != "customers" %>
        <%= form_with(url:"/add_new_users" , method:"post") do %>
            <div class="form-section">
              <%= label_tag "Email" %>  <br>
              <%= text_field_tag("email","",class:'AddMenuCategory-text',placeholder: "@gmail.com") %>
            </div>
      
            <div class="form-section">
              <br><%= label_tag "Password"%> <br>  
              <%= password_field_tag("password","",class:'AddMenuCategory-text',placeholder: "minimum 6 characters") %> 
            </div>
      
          <div class="form-section">
              <br><%= label_tag "Role"%>   <br>
              <%= radio_button_tag(:role,"clerk_role") %>
              <%= label_tag(:clerks_role, "Clerk") %>
              <%= radio_button_tag(:role, "superadmin_role") %>
              <%= label_tag(:superadmin_role, "Admin") %>
          </div>
          <br><input class="AddMenuCategory-button" type="submit" value="Add">
      
          <% end %>   
        <% end %>    
        </div>
    </div>   
</div>