<h2 class="NewUsers-title">Change your password</h2>
<section class="UsersNew">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password" , class:"Form-Input"  %><br />
      <%= f.password_field :password, class:"Form-Input", autofocus: true, autocomplete: "new-password" ,placeholder: "6 characters minimum"%>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" , class:"Form-Input"%><br />
      <%= f.password_field :password_confirmation,class:"Form-Input", autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class:"Form-submit" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
