<div class="row">
    <div class="col-md-7 MenuCategories-Display">
        <h1 class="title"> Order History </h1>
        <table class="CategoryItem">
                <tr>
                    <th>Order Id </th>
                    <th>NetPay </th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
                <% delivered_orders_id.each do |delivered_order| %>
                    <tr>
                        <td> <%= link_to delivered_order.id , order_items_path("order_id: ?", delivered_order.id) %> </td>
                        <td> <%= delivered_order.netpay %> </td>
                        <td> <%= delivered_order.status %> 
                        <% if current_user.superadmin_role || current_user.clerks_role %>
                            <%= form_with(url:"/orders/#{delivered_order.id}",method:"put") do %>
                                <%= hidden_field_tag 'order_id' , delivered_order.id %>
                                <input class="AddMenuCategory-button" type="submit" value="Change">
                            <% end %>
                        <% end %>
                        </td>
                        <td> <%= delivered_order.created_at.strftime("%F") %> </td>
                    </tr>    
                <% end %>
        </table>              
    </div>   
</div> 