<div class="row">
    <div class="col-md-7 MenuCategories-Display">
        <h1 class="title"> Order History </h1>
        <% if current_user.superadmin_role? || current_user.clerks_role? %>
            <%= render partial: "admin-order-section" %>
        <% else %>
            <% @order_history_id= Order.where(:user_id => current_user.id).order(created_at: :DESC).pluck(:id) %>
            <table class="CategoryItem">
                <tr>
                    <th>Order Id </th>
                    <th>NetPay </th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
                <% @order_history_id.each do |order_id| %> 
                    <% @order = Order.find(order_id) %>   
                    <tr>
                        <td> <%= link_to @order.id , order_items_path("order_id: ?", @order.id) %> </td>
                        <td> <%= @order.netpay %> </td>
                        <td> <%= @order.status %> 
                        <td> <%= @order.created_at.strftime("%F") %> </td>
                    </tr>    
                <% end %>
            </table>  
        <% end %>            
    </div>   
</div> 