<div class="row">
    <div class="col-md-7 MenuCategories-Display">
        <h1 class="title"> Order History </h1>
        <table class="CategoryItem">
                <tr>
                    <th>Order Id </th>
                    <th>NetPay </th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
                <% pending_orders_id.each do |pending_order| %>
                    <tr>
                        <td> <%= link_to pending_order.id , order_items_path(order_id: pending_order.id) %> </td>
                        <td> <%= pending_order.netpay %> </td>
                        <td> <%= pending_order.status %> 
                        <% if current_user.superadmin_role || current_user.clerks_role %>
                            <%= form_with(url:"/orders/#{pending_order.id}",method:"put") do %>
                                <%= hidden_field_tag 'order_id' , pending_order.id %>
                                <input class="AddMenuCategory-button" type="submit" value="Change">
                            <% end %>
                        <% end %>
                        </td>
                        <td> <%= pending_order.created_at.strftime("%F") %> </td>
                    </tr>    
                <% end %>
        </table>              
    </div>   
</div> 